img {
  height: 150px;
}
.description {
  font-size: 20;
}

#cook-time {
  font-weight: bold;
}

.ingredients {
  list-style: square;
}

.time {
  color: gray;
}

p .citation {
  color: SeaGreen;
}

h1,
h2,
p,
li {
  font-family: Helvetica;
}
